[Unit]
Description=Ethereum Minernode

[Service]
ExecStart=/usr/bin/geth --datadir /datadisk/private-ethereum/minernode/data --networkid 60 --port 30303 --verbosity 3 --unlock 0x2ED713d6012c996681aC7ECd278dB62Ee694519a --password /datadisk/private-ethereum/minernode/pwd --mine --miner.threads=1 --nousb --nodiscover
WorkingDirectory=/datadisk/private-ethereum/minernode
Restart=always
RestartSec=30
Type=simple
User=uservm2
Group=uservm2

[Install]
WantedBy=multi-user.target