[Unit]
Description=Ethereum Bootnode

[Service]
ExecStart=/usr/bin/geth --datadir /datadisk/private-ethereum/bootnode/data --networkid 60 --port 30301 --verbosity 3 --nousb --nodiscover
WorkingDirectory=/datadisk/private-ethereum/bootnode
Restart=always
RestartSec=30
Type=simple
User=root
Group=root

[Install]
WantedBy=multi-user.target