[Unit]
Description=Ethereum Bootnode

[Service]
ExecStart=/usr/bin/geth --datadir /datadisk/private-ethereum/bootnode/data --networkid 60 --port 30301 --verbosity 3 --nousb --nodiscover
WorkingDirectory=/datadisk/private-ethereum/bootnode
Restart=always
RestartSec=30
StandardOutput=file:/datadisk/private-ethereum/logs/bootnode.log
StandardError=file:/datadisk/private-ethereum/logs/bootnode-err.log
SyslogIdentifier=bootnode
Type=simple
User=uservm2
Group=uservm2

[Install]
WantedBy=multi-user.target