[Unit]
Description=Ethereum RPCnode

[Service]
ExecStart=/usr/bin/geth --datadir /datadisk/private-ethereum/rpcnode/data --networkid 60 --port 30302 --http --http.addr 0.0.0.0 --http.corsdomain '*' --http.vhosts psvm1.japaneast.cloudapp.azure.com --http.api personal,eth,net,web3 --verbosity 3 --nousb --nodiscover
WorkingDirectory=/datadisk/private-ethereum/rpcnode
Restart=always
RestartSec=30
StandardOutput=file:/datadisk/private-ethereum/logs/rpcnode.log
StandardError=file:/datadisk/private-ethereum/logs/rpcnode-err.log
SyslogIdentifier=rpcnode
Type=simple
User=uservm2
Group=uservm2

[Install]
WantedBy=multi-user.target